/* Page Style */

.navbar {
    background-color: rgb(20, 52, 84);
}

.hid1,
.hid2,
.hid3,
.hid4,
.hid5,
.hid6,
.hidden-room,
#sala
 {
    display: none;
}

#name-label,
#title-label,
#date-label,
#hour-label,
#link-label {
    background-color: rgba(228, 236, 244, 0.951);
}

#local-label {
    background-color: rgba(244, 228, 240, 0.951)
}

.box {
    background-color: rgba(228, 236, 244, 0.951);
    border: solid 1px;
    border-radius: 5px;

}

.form-check-inline {
    gap: 10px;
}

#git-logo {
    width: 20px;
}