/* Page Style */

header,
.links {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    list-style: none;
}

header {
    justify-content: space-between;
}

li {
    margin: 0 0.25em;
}

.radio-btns {
    margin: 0 20px;;
}

.hidden-room,
.hidden-link,
.hid1,
.hid2,
.hid3,
.hid4,
.hid5,
.hid6 {
    display: none;
}

.examinador {
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 0;
}

.exam-btns {
    display: flex;
    flex-direction: column;
}
.span-exams {
    padding: 5px 20px 0 10px;
}


